@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightpink;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.time {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.time-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 216, 222);
    width: 8rem;
    height: 6rem;
    line-height: 1;
    
}
.time-box h3:nth-child(1) {
    font-size: 1.6rem;
}

.time-box h3:nth-child(2) {
    font-size: 1.2rem;
}
.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}
.description h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}
.description h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}
.link {
    border-bottom: 2px solid black;
}
.link, link a {
    font-size: 1.2rem;
}
.description a {
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.description a:hover {
    color: rgb(0, 145, 94);
}
.description p {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.4;
}
